body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.box{
    margin: 50px;
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnDiv{
    text-align: center;
    display: flex;
    gap: 10px;
} 
.btn{
    background-color: rgb(146, 146, 255);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    transition: background-color 0.5s;
    
}
.btn:hover{
    background-color: rgb(90, 90, 255);
    
}
.box label{
    
    font-size: 10em;
}